<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.alink.server.mapper.NodeParamMapper">
  <resultMap id="BaseResultMap" type="com.alibaba.alink.server.domain.NodeParam">
    <!--@mbg.generated-->
    <!--@Table node_param-->
    <id column="node_param_id" jdbcType="BIGINT" property="nodeParamId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="experiment_id" jdbcType="BIGINT" property="experimentId" />
    <result column="node_id" jdbcType="BIGINT" property="nodeId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    node_param_id, gmt_create, gmt_modified, experiment_id, node_id, `key`, `value`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from node_param
    where node_param_id = #{nodeParamId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from node_param
    where node_param_id = #{nodeParamId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.alibaba.alink.server.domain.NodeParam">
    <!--@mbg.generated-->
    insert into node_param (node_param_id, gmt_create, gmt_modified,
      experiment_id, node_id, `key`,
      `value`)
    values (#{nodeParamId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{experimentId,jdbcType=BIGINT}, #{nodeId,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR},
      #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alibaba.alink.server.domain.NodeParam">
    <!--@mbg.generated-->
    insert into node_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeParamId != null">
        node_param_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="experimentId != null">
        experiment_id,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="value != null">
        `value`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeParamId != null">
        #{nodeParamId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="experimentId != null">
        #{experimentId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alibaba.alink.server.domain.NodeParam">
    <!--@mbg.generated-->
    update node_param
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="experimentId != null">
        experiment_id = #{experimentId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where node_param_id = #{nodeParamId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alibaba.alink.server.domain.NodeParam">
    <!--@mbg.generated-->
    update node_param
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      experiment_id = #{experimentId,jdbcType=BIGINT},
      node_id = #{nodeId,jdbcType=BIGINT},
      `key` = #{key,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR}
    where node_param_id = #{nodeParamId,jdbcType=BIGINT}
  </update>

  <!--auto generated by MybatisCodeHelper on 2022-03-12-->
  <select id="selectByExperimentIdAndNodeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from node_param
        where experiment_id=#{experimentId,jdbcType=BIGINT} and node_id=#{nodeId,jdbcType=BIGINT}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-03-12-->
  <select id="selectByExperimentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from node_param
    where experiment_id=#{experimentId,jdbcType=BIGINT}
  </select>
</mapper>